[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=yad-mpv
Comment=A GUI to launch local files or urls in mpv.
Exec=/usr/local/bin/yad-mpv
Icon=/opt/yad-mpv/yad-mpv.png
Categories=AudioVideo;Audio;Video;Player;TV;
Terminal=false